<h2>Password Generator</h2>


<div>
  <label>
    Password length
    <input type="text" (input)="onChangeLength($event)">
  </label>
</div>
<div>
  <label>
    Use numbers
    <input type="checkbox" (change)="onChangeNumbers()">
  </label>
</div>
<div>
  <label>
    Use letters
    <input type="checkbox" (change)="onChangeLetters()">
  </label>
</div>
<div>
  <label>
    Use symbols
    <input type="checkbox" (change)="onChangeSymbols()">
  </label>
</div>
<div>
  <input type="button" value="Generate" (click)="generate()">
</div>
<hr>
<div>
  <label>
    Password
    <input type="text" value="{{password}}">
  </label>
</div>

